@model Castle.Web.Models.Home.IndexViewModel

<div class="page-header">
    <h1>Castle <small>Source control documentation that doesn't suck.</small></h1>
</div>

<div class="row">

    <div class="col-md-4 col-md-push-8">
        <ul class="nav nav-pills">
            <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
            <li><a href="#teams" data-toggle="tab">Teams</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="projects">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-left">
                                Projects <span class="small">(@Model.Projects.Count())</span>
                            </div>
                            <div class="pull-right">
                                <a href="/projects/new" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> New Project</a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (var project in Model.Projects)
                        {
                            <li class="list-group-item">
                                <a href="/projects/@project.Id/@project.Name">@project.FullName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="teams">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="clearfix">
                            <div class="pull-left">
                                Teams <span class="small">(@Model.Teams.Count())</span>
                            </div>
                            <div class="pull-right">
                                <a href="/teams/new" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> New Team</a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (var team in Model.Teams)
                        {
                            <li class="list-group-item">
                                <a href="/team/@team.Id/@team.Nickname">@team.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-pull-4" data-ng-controller="HomeController">
        @Html.Partial("~/views/source/_history.cshtml")
    </div>
</div>